{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%  static 'css/front.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: dodgerblue;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mr-auto mt-6 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'front' %}" style="color: white;">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'contact' %}" style="color: white;">About Us</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a class="navbar-brand" href="#" style="color: white;"> Gesture Recognition System</a>
          </form> 
        </div>
    </nav>
<div class="about-section" style="border-bottom: 1px solid; background-color: #bbe1ff;">
  <h1>MEET OUR TEAM</h1>
  <p style="font-size: x-large;">We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all. It is our  College. We are not just a team, we are a family.</p>

</div>

<h2 style="text-align:center; padding-bottom: 11px; padding-top: 22px; ">Our Team</h2>
<div class="row" style="width: fit-content;">
  <div class="column">
    <div class="card" style="left: 30px; width: 235px;">
      <img src="{% static 'img/Shaniya.jpg' %}" alt="Jane" style="width: 233px;">
      <div class="container">
        <h2>Shaniya Khan </h2>
        <p class="title">Back-end Developer</p>
        <!-- <p>Some text that describes me </p> -->
        <p>shaniaakhan21@gmail.com</p>
        <p><button class="button" >Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card" style="width: 227px; left: 59px;">
      <img src="{% static 'img/amrita.jpg' %}" alt="Mike" style="width: 225px; height: 253px">
      <div class="container">
        <h2>Amrita Anand</h2>
        <p class="title">Front-end Developer</p>
        <p>getforamrita14@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card" style="width: 273px; left: 98px;">
      <img src="{% static 'img/saumya.jpg' %}" alt="John" style="width: 271px; height: 254px;">
      <div class="container">
        <h2>Saumya Sharma</h2>
        <p class="title">Front-end Developer</p>
        <p>saumyasharma2899@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
    <div class="column">
      <div class="card" style="width: 273px; left: 170px;">
        <img src="{% static 'img/dikshit.jpg' %}" alt="Jane" style=" width: 271px;  height: 253px;">
        <div class="container">
          <h2>Dikshit Bhardwaj</h2>
          <p class="title">Machine Learning(ML) Expert</p>
          <p>dikshit.b.122@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
</div>
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: dodgerblue; color: beige;">
      © 2021 Copyright
      <!--<a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>